*{
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color:black;
    height: 100vh;
}

.title {
    font-size: 4rem;
}
.carousel-item img {
    position: relative;
    width: auto;
    height: 70vh;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
}

.change-imgs {
    position: absolute;
    top: 7rem;
    right: 8rem;
}

.changeImg {
    padding: 0.5rem 1rem;
    color: rgba(255, 255, 255, .5);
    background-color: rgba(84, 79, 79, 0.646);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.changeImg:hover,
.changeImg:focus {
    color: white;
    background-color: rgb(40, 38, 38);
    ;
}

.owl-carousel .item img {
    border-radius: 10px;
    width: 30vw;
    height: 60vh;
    border: 2px solid white;
}
.Carousel {
    /* border: 2px solid white; */
    width: 60vw;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-bottom: 2rem;
}

.Carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 100ms;
}

.Slide>img {
    display: block;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(133, 129, 129);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 70vh;
}

.Slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.Carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 65%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 1rem;
    background-color: rgba(84, 79, 79, 0.646);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Carousel-button:hover,
.Carousel-button:focus {
    color: white;
    background-color: rgb(40, 38, 38);
    ;
}

.Carousel-button:focus {
    outline: 1px solid black;
}

.Carousel-button.prev {
    left: 1rem;
}

.Carousel-button.next {
    right: 1rem;
}

.messageBox {
    position: absolute;
    text-align: center;
    width: 40vw;
    height: 40vh;
    padding: 2rem;
    border-radius: 20px;
    background: rgba(128, 125, 125, 0.818);
    z-index: 3;
}
.messageBox h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: rgb(182, 27, 27);
}
.messageBox p {
    color: black;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.overlay {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.325);
    z-index: 2;
}




@media only screen and (max-width: 1000px) {
    .carousel-item img {
        width: 70vw;
        height: 50vh; 
    }
    .title {
        font-size: 3rem;
    }
    .change-imgs {
        top: 6rem;
        right: 3rem;
    }
    .changeImg {
        padding: 0.2rem 0.5rem;
        font-size: 1rem;
    }
    .owl-carousel .item img {
        width: 40vw;
    }
    .Slide>img {
        width: 80vw;
        height: 70vh;
    }

    .Carousel-button {
        font-size: 2rem;
        transform: translateY(50%);
    }
}
@media only screen and (max-width: 600px) {
    .carousel-item img {
        width: 60vw;
        height: 50vh; 
    }
    .title {
        font-size: 2rem;
    }
    .change-imgs {
        top: 5rem;
        right: 1rem;
    }
    .changeImg {
        padding: 0.2rem 0.5rem;
        font-size: 0.6rem;
    }
    .owl-carousel .item img {
        width: 73vw;
    }
    .Slide>img {
        width: 80vw;
        height: 70vh;
    }
    .Carousel-button {
        font-size: 1rem;
        padding: 5px;
        transform: translateY(50%);
    }
}
